<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workers</title>
</head> -->
<% layout("layouts/boilerplate") %>

<style>
#filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  margin-top: 1rem;
 
}


.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
   opacity: 0.5;  
}

.filter:hover {
  opacity: 1;
}
.filter p{
  font-size: 0.8rem;
}
</style>

<div id="filters">
  <div class="filter">
    <div class="filter-icon"> <a href="/Web-Developers"><i class="fa-solid fa-fire"></i> </a></div>
    <p>Web Developer</p>
  </div>
  <div class="filter">
    <div class="filter-icon"> <a href="/IT-person"><i class="fa-solid fa-fire"></i> </a></div>
    <p>IT-Technician</p>
  </div>
  <div class="filter">
    <div class="filter-icon"> <a href="/UI-UX"><i class="fa-solid fa-palette"></i> </a></div>
    <p>UI-Designer</p>
  </div>
  <div class="filter">
    <div class="filter-icon"> <a href="/civilEngineer"><i class="fa-solid fa-hammer"></i> </a></div>
    <p>Civil-Engineer</p>
  </div>
</div>
   
    
  
    <form method="GET" action="/listings/new">
        <!-- <button>New Worker</button> -->
    </form>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 mx-md-n5">
        <% for(let worker of allListings) { %>
            <a href="/listings/<%=worker._id%>" class="worker-list">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="<%=worker.image.url%>" alt="Worker Image" style="height: 20rem;" >
                <div class="card-img-overlay"><%=worker.description%></div>
                <div class="card-body">
                  <p class="card-text">
                 <b><%= worker.title %> </b> <br />
                    &#x20B9;<%= worker.price %>/Day
                  </p>
                </div>
              </div>
            </a>
              <% } %>
    </div>
    
    <!-- <ul>
        <% for(let worker of allListings) { %>

            <li><a href="/listing/<%=worker._id%>"><%= worker.title %></li> </a>
             <a href="/listing/<%=worker._id%>/edit">Edit Your Worker</a> 
            
        </ul>
    <% } %> --> 

