<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Worker Detail View</title>
</head> -->


<% layout("layouts/boilerplate") %>
<script>
    const MAP_API = '<%= process.env.MAP_TOKEN %>'
    const listing = <%- JSON.stringify(listing) %>
    
    
</script>

    <div class="container" style="margin-bottom: 0px;">
    <div class="row">
        <div class="col-8 offset-2 mt-3">
        <h3><%= listing.title %></h3>
    </div>
    <div class=" Card col-6 offset-2">
       <img src="<%= listing.image.url %>" class="Card-img-top show-img">
       
       <div class="card-body">
        <!-- <p class="card-text offset-3" style="font-family: algerian;"><%= listing.title %></p> -->
        <p class="card-text" style="font-family: algerian;"> Posted by <%= listing.owner.username %></p>
       </div>
    </div>
    </div>
    <br>
    <div class="show-desc">
    <li>Role: <%= listing.description %></li>
    <li>Rate: &#x20B9;<%= listing.price.toLocaleString('en-IN') %></li>
    <li>Location: <%= listing.location %></li>
    <li>Country: <%= listing.country %></li>
    <!-- <li>Owner: <%= listing.owner._id %></li> -->
    
    </div>
    <br>
    
    <button><a href="/listings/<%=listing._id%>/edit">Edit Your Detail</a></button>
    <form method="POST" action="/listings/<%= listing._id %>/delete?_method=DELETE"> 
        <br>
        <button>Delete Detail</button>
    </form>
    
    <!-- Review Form  -->
    <hr>
    <% if(currentUser){%> 
    <div class="form-review">
    <div class="review-form">
        <h3>Write your feeling about us.</h3>
        <form method="post" action="/listings/<%= listing._id %>/reviews">
        <div class="mb-2 mt-3">

            <fieldset class="starability-slot ">
                <legend>Rating:</legend>
                <input type="radio" id="no-rate" class="input-no-rate"
                    name="review[rating]" value="1" checked aria-label="No rating." />

                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
            
                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>

                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>

                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>

                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>  
        </div>
        <div class="mb-2 mt-3">
            <label for="review" class="form-label">Review</label>
            <textarea required name="review[comment]" id="" cols="10" rows="10" class="form-control"></textarea>

        </div>
        <button class="btn btn-dark mt-2">Submit</button>
        </form>
    </div>
    <% } %>
    <!-- review card  -->
    <div class="review-card card d-flex flex-row">
        <% for(review of listing.reviews ){ %>
            <div class="card-body">
            Reviewed at : <%= review.createdAt.toString().split(" ")[4] %><br>
            Author : @<%= review.author.username %> <br>  
            <p class="starability-result" data-rating= <%= review.rating %>></p>
            Review : <%= review.comment %>  <br>

         <% if(currentUser && (currentUser._id.equals(review.author._id))){ %>
          <form method="post" action="/listings/<%= listing._id %>/reviews/<%= review._id%>?_method=DELETE">
            <button class="btn btn-danger btn-sm">Delete</button>
          </form>
          <% } %>
        <% } %>
          
        </div>
       
    </div>

</div>

        <!-- map  -->

    <div class="col-12 mb-2 offset-3 map-card">
        <div id="map"></div>
        
    </div>

</div>




        
</div>
</div>

<script src="/js/map.js"></script>

<!-- </html> -->